In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

In [2]:
data = pd.read_csv(r'pop.csv')
data

,no,country,pop2020,yearlychange,netchange,density,landarea,migrants,fertrate,medage,urbanpop,worldshare
0,1,China,1439323776,0.0039,5540090,1.530000e+02,9.388211e+06,-348399.0,1.7,38.0,6.100000e-01,1.847000e-01
1,2,India,1380004385,0.0099,13586631,4.640000e+02,2.973190e+06,-532687.0,2.2,28.0,3.500000e-01,1.770000e-01
2,3,United States,331002651,0.0059,1937734,3.600000e+01,9.147420e+06,954806.0,1.8,38.0,8.300000e-01,4.250000e-02
3,4,Indonesia,273523615,0.0107,2898047,1.510000e+02,1.811570e+06,-98955.0,2.3,30.0,5.600000e-01,3.510000e-02
4,5,Pakistan,220892340,0.0200,4327022,2.870000e+02,7.708800e+05,-233379.0,3.6,23.0,3.500000e-01,2.830000e-02
...,...,...,...,...,...,...,...,...,...,...,...,...
230,231,Montserrat,4992,0.0006,3,5.000000e+01,1.000000e+02,NaN,NaN,NaN,1.000000e-01,1.000000e-08
231,232,Falkland Islands,3480,0.0305,103,1.000000e-08,1.217000e+04,NaN,NaN,NaN,6.600000e-01,1.000000e-08
232,233,Niue,1626,0.0068,11,6.000000e+00,2.600000e+02,NaN,NaN,NaN,4.600000e-01,1.000000e-08
233,234,Tokelau,1357,0.0127,17,1.360000e+02,1.000000e+01,NaN,NaN,NaN,1.000000e-08,1.000000e-08
234,235,Holy See,801,0.0025,2,2.003000e+03,1.000000e-08,NaN,NaN,NaN,NaN,1.000000e-08

In [3]:
data.head()

,no,country,pop2020,yearlychange,netchange,density,landarea,migrants,fertrate,medage,urbanpop,worldshare
0,1,China,1439323776,0.0039,5540090,153.0,9388211.0,-348399.0,1.7,38.0,0.61,0.1847
1,2,India,1380004385,0.0099,13586631,464.0,2973190.0,-532687.0,2.2,28.0,0.35,0.1770
2,3,United States,331002651,0.0059,1937734,36.0,9147420.0,954806.0,1.8,38.0,0.83,0.0425
3,4,Indonesia,273523615,0.0107,2898047,151.0,1811570.0,-98955.0,2.3,30.0,0.56,0.0351
4,5,Pakistan,220892340,0.0200,4327022,287.0,770880.0,-233379.0,3.6,23.0,0.35,0.0283

In [4]:
alldata = ['object','float','int']

In [5]:
data = data.fillna(method='ffill')

In [6]:
print(data.describe(include = alldata))

                no country       pop2020  yearlychange     netchange  \
count   235.000000     235  2.350000e+02    235.000000  2.350000e+02
unique         NaN     235           NaN           NaN           NaN
top            NaN   China           NaN           NaN           NaN
freq           NaN       1           NaN           NaN           NaN
mean    118.000000     NaN  3.317120e+07      0.011043  3.461058e+05
std      67.982841     NaN  1.351370e+08      0.010757  1.128255e+06
min       1.000000     NaN  8.010000e+02     -0.024700 -3.838400e+05
25%      59.500000     NaN  4.188015e+05      0.003200  4.240000e+02
50%     118.000000     NaN  5.459642e+06      0.009700  3.917000e+04
75%     176.500000     NaN  2.057705e+07      0.018500  2.496600e+05
max     235.000000     NaN  1.439324e+09      0.038400  1.358663e+07

             density      landarea      migrants    fertrate      medage  \
count   2.350000e+02  2.350000e+02  2.350000e+02  235.000000  235.000000
unique           NaN           NaN           NaN         NaN         NaN
top              NaN           NaN           NaN         NaN         NaN
freq             NaN           NaN           NaN         NaN         NaN
mean    4.784085e+02  5.535918e+05 -4.655319e+00    2.591915   31.110638
std     2.331282e+03  1.687796e+06  1.139835e+05    1.193993    8.514724
min     1.000000e-08  1.000000e-08 -6.532490e+05    1.100000   15.000000
25%     3.700000e+01  2.545000e+03 -8.608000e+03    1.800000   24.000000
50%     9.500000e+01  7.724000e+04  1.000000e-08    2.000000   32.000000
75%     2.400000e+02  4.038200e+05  4.900000e+03    3.050000   37.500000
max     2.633700e+04  1.637687e+07  9.548060e+05    7.000000   48.000000

            urbanpop    worldshare
count   2.350000e+02  2.350000e+02
unique           NaN           NaN
top              NaN           NaN
freq             NaN           NaN
mean    5.911064e-01  4.254896e-03
std     2.465619e-01  1.733712e-02
min     1.000000e-08  1.000000e-08
25%     4.300000e-01  1.000000e-04
50%     6.200000e-01  7.000000e-04
75%     7.900000e-01  2.650000e-03
max     1.000000e+00  1.847000e-01

In [7]:
y=data["pop2020"]
x=data[["yearlychange","netchange","density","landarea","migrants","fertrate","medage","urbanpop","worldshare"]]

In [8]:
x

,yearlychange,netchange,density,landarea,migrants,fertrate,medage,urbanpop,worldshare
0,0.0039,5540090,1.530000e+02,9.388211e+06,-3.483990e+05,1.7,38.0,6.100000e-01,1.847000e-01
1,0.0099,13586631,4.640000e+02,2.973190e+06,-5.326870e+05,2.2,28.0,3.500000e-01,1.770000e-01
2,0.0059,1937734,3.600000e+01,9.147420e+06,9.548060e+05,1.8,38.0,8.300000e-01,4.250000e-02
3,0.0107,2898047,1.510000e+02,1.811570e+06,-9.895500e+04,2.3,30.0,5.600000e-01,3.510000e-02
4,0.0200,4327022,2.870000e+02,7.708800e+05,-2.333790e+05,3.6,23.0,3.500000e-01,2.830000e-02
...,...,...,...,...,...,...,...,...,...
230,0.0006,3,5.000000e+01,1.000000e+02,1.000000e-08,2.0,34.0,1.000000e-01,1.000000e-08
231,0.0305,103,1.000000e-08,1.217000e+04,1.000000e-08,2.0,34.0,6.600000e-01,1.000000e-08
232,0.0068,11,6.000000e+00,2.600000e+02,1.000000e-08,2.0,34.0,4.600000e-01,1.000000e-08
233,0.0127,17,1.360000e+02,1.000000e+01,1.000000e-08,2.0,34.0,1.000000e-08,1.000000e-08
234,0.0025,2,2.003000e+03,1.000000e-08,1.000000e-08,2.0,34.0,1.000000e-08,1.000000e-08

In [9]:
y

0      1439323776
1      1380004385
2       331002651
3       273523615
4       220892340
          ...
230          4992
231          3480
232          1626
233          1357
234           801
Name: pop2020, Length: 235, dtype: int64

In [10]:
x1 = sm.add_constant(x)

C:\Users\Dashagireevan\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [11]:
results = sm.OLS(y,x1).fit()

In [12]:
np.asarray(data)

array([[1, 'China', 1439323776, ..., 38.0, 0.61, 0.1847],
       [2, 'India', 1380004385, ..., 28.0, 0.35, 0.177],
       [3, 'United States', 331002651, ..., 38.0, 0.83, 0.0425],
       ...,
       [233, 'Niue', 1626, ..., 34.0, 0.46, 1e-08],
       [234, 'Tokelau', 1357, ..., 34.0, 1e-08, 1e-08],
       [235, 'Holy See', 801, ..., 34.0, 1e-08, 1e-08]], dtype=object)

In [13]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                pop2020   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 9.981e+06
Date:                Sun, 24 Jul 2022   Prob (F-statistic):               0.00
Time:                        12:48:57   Log-Likelihood:                -3217.1
No. Observations:                 235   AIC:                             6454.
Df Residuals:                     225   BIC:                             6489.
Df Model:                           9
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const        -7.368e+04   1.86e+05     -0.396      0.692    -4.4e+05    2.93e+05
yearlychange -3.914e+06   2.52e+06     -1.552      0.122   -8.88e+06    1.05e+06
netchange        0.0686      0.027      2.534      0.012       0.015       0.122
density         -4.5685      6.253     -0.731      0.466     -16.890       7.753
landarea         0.0110      0.011      1.044      0.298      -0.010       0.032
migrants        -0.2529      0.150     -1.691      0.092      -0.548       0.042
fertrate      3.235e+04   2.72e+04      1.191      0.235   -2.12e+04    8.59e+04
medage        1812.9486   4122.362      0.440      0.661   -6310.426    9936.323
urbanpop     -4.243e+04   6.57e+04     -0.646      0.519   -1.72e+05     8.7e+04
worldshare     7.79e+09   1.88e+06   4148.611      0.000    7.79e+09    7.79e+09
==============================================================================
Omnibus:                       21.800   Durbin-Watson:                   1.589
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                7.509
Skew:                          -0.093   Prob(JB):                       0.0234
Kurtosis:                       2.144   Cond. No.                     3.29e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.29e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [14]:
parameter = results.params

In [15]:
data1 = list(data)

In [16]:
data1 = data1[2:]

In [17]:
data1

['pop2020',
 'yearlychange',
 'netchange',
 'density',
 'landarea',
 'migrants',
 'fertrate',
 'medage',
 'urbanpop',
 'worldshare']

In [18]:
yhat = parameter[0]

In [19]:
print(yhat)

-73677.60991481878

In [20]:
for i in range(1,len(parameter)):
    print(yhat)
    yhat += parameter[i]*x[data1[i]]

-73677.60991481878
0      -88941.004965
1     -112423.151197
2      -96768.387043
3     -115554.104028
4     -151951.430687
           ...
230    -76025.824538
231   -193045.186592
232   -100290.708977
233   -123381.486105
234    -83461.837511
Name: yearlychange, Length: 235, dtype: float64
0      291257.862345
1      819984.393944
2       36212.173192
3       83329.702338
4      144998.413671
           ...
230    -76025.618657
231   -193038.118027
232   -100289.954082
233   -123380.319449
234    -83461.700258
Name: yearlychange, Length: 235, dtype: float64
0      290558.887406
1      817864.626810
2       36047.708500
3       82639.864327
4      143687.264603
           ...
230    -76254.041840
231   -193038.118027
232   -100317.364864
233   -124001.630505
234    -92612.332949
Name: yearlychange, Length: 235, dtype: float64
0      393921.684562
1      850599.003453
2      136759.432806
3      102584.978731
4      152174.537958
           ...
230    -76252.940855
231   -192904.128150
232   -100314.502303
233   -124001.520407
234    -92612.332949
Name: yearlychange, Length: 235, dtype: float64
0      482032.684712
1      985316.911188
2     -104713.452046
3      127610.951882
4      211196.685278
           ...
230    -76252.940855
231   -192904.128150
232   -100314.502303
233   -124001.520407
234    -92612.332949
Name: yearlychange, Length: 235, dtype: float64
0      5.370277e+05
1      1.056487e+06
2     -4.648340e+04
3      2.020160e+05
4      3.276568e+05
           ...
230   -1.155288e+04
231   -1.282041e+05
232   -3.561444e+04
233   -5.930146e+04
234   -2.791227e+04
Name: yearlychange, Length: 235, dtype: float64
0      6.059198e+05
1      1.107250e+06
2      2.240865e+04
3      2.564045e+05
4      3.693546e+05
           ...
230    5.008737e+04
231   -6.656381e+04
232    2.602581e+04
233    2.338795e+03
234    3.372798e+04
Name: yearlychange, Length: 235, dtype: float64
0      5.800365e+05
1      1.092398e+06
2     -1.280965e+04
3      2.326427e+05
4      3.545035e+05
           ...
230    4.584421e+04
231   -9.456872e+04
232    6.507239e+03
233    2.338795e+03
234    3.372798e+04
Name: yearlychange, Length: 235, dtype: float64

In [21]:
print(yhat)

0      1.439377e+09
1      1.379907e+09
2      3.310585e+08
3      2.736586e+08
4      2.208090e+08
           ...
230    4.592211e+04
231   -9.449083e+04
232    6.585138e+03
233    2.416694e+03
234    3.380588e+04
Name: yearlychange, Length: 235, dtype: float64

In [22]:
print(x['yearlychange'])

0      0.0039
1      0.0099
2      0.0059
3      0.0107
4      0.0200
        ...
230    0.0006
231    0.0305
232    0.0068
233    0.0127
234    0.0025
Name: yearlychange, Length: 235, dtype: float64